[submodule "frameworks/Thoth-SC"]
	path = frameworks/Thoth-SC
	url = git://github.com/mauritslamers/Thoth-SC.git
[submodule "frameworks/Sai"]
	path = frameworks/Sai
	url = https://github.com/etgryphon/sai.git
[submodule "frameworks/scui"]
	path = frameworks/scui
	url = https://github.com/etgryphon/sproutcore-ui.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = git://github.com/mauritslamers/sproutcore.git
