/* Loading Screen */
@-webkit-keyframes loading-animate {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
  }
}
.sc-theme #loading {
  background:#555;
  background:-webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
}
.sc-theme #loading p.loading {
  -webkit-animation-name: loading-animate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  
  -webkit-box-shadow:0px 0px 13px #222;
  -moz-box-shadow:0px 0px 13px #222;
  -ms-box-shadow:0px 0px 13px #222; /* Well, we can dream */
  background-color:black;
  padding-top:20px;
  position:absolute;
  left:50%;
  width:300px;
  top: 50%;
  margin-left:-150px;
  margin-top:-20px;
  height: 40px;
  font-size: 20px;
  color:white;
  border:0px none;
  text-shadow:none;
  text-align:center;
}

.sc-theme .sc-view.sc-label-view.list-item {
	font-size: 32px;
	font-weight: bold;
	border-bottom: 1px solid #999;
}

.sc-label-view.header {
  font-size: 24px;
  color:#555;
  text-shadow:0px 1px 1px white;
  padding-bottom:10px;
}

/* Toolbars */
.toolbar {
	z-index:500;
	border-left:1px solid #888;
	-webkit-box-shadow: none;
}


.toolbar .button-icon {
  left: 0px; top: 0px; right: 0px; position: relative; width:16px; height:16px;
}

/* Toolbar Buttons—normal */
.toolbar .sc-button-view.sc-regular-size.square { 
	max-height: none; background: transparent;
	border-right:1px solid #888;
	text-shadow: 1px 1px 1px white;
}
.toolbar .sc-button-view.sc-regular-size.square .sc-button-inner {
	padding-top:4px;
	max-height:none; background:transparent; 
}
.toolbar .sc-button-view.sc-regular-size.square .ellipsis {
	max-height:none; background:transparent;
	margin: 0px;
}

/* Toolbar Buttons- Active */
.toolbar .sc-button-view.sc-regular-size.square.active { 
	max-height: none; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3F3F3F), to(#5B5B5B)); 
}
.toolbar .sc-button-view.sc-regular-size.square.active .sc-button-inner {
	max-height:none; background: transparent; 
}
.toolbar .sc-button-view.sc-regular-size.square.active .ellipsis {
	max-height:none; background: transparent;
}

/* Search box */
.toolbar .searchBox .border {
  -webkit-appearance: searchfield;
  -webkit-outline-radius:10px;
  margin-top:-3px;
}
.toolbar. .searchBox input { background-color:transparent; }
.toolbar .searchBox { background-color:transparent; }

/* Authors */
.authors {
    background-color: #cad0dd;
    color:#444455;
    font-weight:bold;
    text-shadow: 0px 1px 1px white;
}

.authors .sc-separator-view span {
    border-color: #999;
    left: 5px;
    right: 5px;
}

.authors .sc-list-view {
    background-color:transparent;
}

.authors .selected, .authors .sc-list-view .drag-potential {
    text-shadow:0px 1px 1px black;
    color:white;
}

/* Books */
.books-view {
    background-color: #cad0dd;
    color:#444455;
    font-weight:bold;
    text-shadow: 0px 1px 1px white;
}

.books-view .sc-separator-view span {
    border-color: #999;
    left: 5px;
    right: 5px;
}

.books-view .sc-list-view {
    background-color:transparent;
}

.books-view .selected, .books-view .sc-list-view .drag-potential {
    text-shadow:0px 1px 1px black;
    color:white;
}

.book-panel {
	-webkit-box-shadow: 0px 0px 10px black;
	color:black;
}

.sc-split-divider-view { background-color:#999;}
.sc-split-divider-view { border:0px none; }

.books-list .book-item { overflow:visible; }
.books-list .book-item .sc-label-view { overflow:visible; white-space:nowrap; }

.books-list .book-item {
  /* Add a background image */
}

.books-list .selected {
	color:white;
}

/* Search */
.books-list strong {
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#333));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#333));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #999;
  padding:2px;
  position:relative;
  z-index:10000;
  color:white;
}

.books-list .selected strong {
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#FFE645), to(#FF9F0F));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFE645), to(#FF9F0F));
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.7);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #FFE645;
  padding:2px;
  position:relative;
  z-index:10000;
  color:black;
}

.books-list em { color:gray; }

/* Versions */
.versions-view {
    background-color: #cad0dd;
    color:#444455;
    font-weight:bold;
    text-shadow: 0px 1px 1px white;
}

.versions-view .sc-separator-view span {
    border-color: #999;
    left: 5px;
    right: 5px;
}

.versions-view .sc-list-view {
    background-color:transparent;
}

.versions-view .selected, .versions-view .sc-list-view .drag-potential {
    text-shadow:0px 1px 1px black;
    color:white;
}

.versions-list .version-item { overflow:visible; }
.versions-list .version-item .sc-label-view { overflow:visible; white-space:nowrap; }

.versions-list .version-item {
  /* Add a background image */
}

.versions-list .selected {
	color:white;
}

/* Search */
.versions-list strong {
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#333));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#333));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #999;
  padding:2px;
  position:relative;
  z-index:10000;
  color:white;
}

.versions-list .selected strong {
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#FFE645), to(#FF9F0F));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFE645), to(#FF9F0F));
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.7);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #FFE645;
  padding:2px;
  position:relative;
  z-index:10000;
  color:black;
}

.versions-list em { color:gray; }

/* Reviews */
.reviews-view {
    background-color: #cad0dd;
    color:#444455;
    font-weight:bold;
    text-shadow: 0px 1px 1px white;
}

.reviews-view .sc-separator-view span {
    border-color: #999;
    left: 5px;
    right: 5px;
}

.reviews-view .sc-list-view {
    background-color:transparent;
}

.reviews-view .selected, .reviews-view .sc-list-view .drag-potential {
    text-shadow:0px 1px 1px black;
    color:white;
}

.reviews-list .review-item { overflow:visible; }
.reviews-list .review-item .sc-label-view { overflow:visible; white-space:nowrap; }

.reviews-list .review-item {
  /* Add a background image */
}

.reviews-list .selected {
	color:white;
}

/* Search */
.reviews-list strong {
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#333));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#333));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #999;
  padding:2px;
  position:relative;
  z-index:10000;
  color:white;
}

.reviews-list .selected strong {
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#FFE645), to(#FF9F0F));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFE645), to(#FF9F0F));
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.7);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #FFE645;
  padding:2px;
  position:relative;
  z-index:10000;
  color:black;
}

.reviews-list em { color:gray; }


